*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.box{
    background-color: rgb(219, 219, 245);
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: 5px 5px 5px;
}
h1{
    padding-top: 7px;
}
.form_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 25px;
    margin: 20px;
}
.form_control{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 14px;
}

input,select,textarea{
    border-radius: 4px;
    padding: 8px;
}

input,textarea,select:focus{
    outline-color: rgb(24, 98, 201);
}

.button{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;
    padding-right: 15px;
}
button{
    background-color: red;
    padding: 8px;
    color: white;
    border-radius: 7px;
}
